@using EntityCFP;
@{
    ViewBag.Title = "Index z pytle";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category_Id</th>
            <th>Category_Name</th>
        </tr>
    <thead>
    <tbody>
        @foreach (Category cat in ViewBag.CategoryList) { 
        <tr>
            <td>@cat.Category_SK</td>
            <td>@cat.CategoryName</td>
        </tr>
        }
    </tbody>
</table>

